{% extends 'main.html' %}


{% block title %}
        Список клиентов
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div class="col-md-10">
        <table id="users_list" class="table-striped table">
            <h4 class="lead">Список клиентов</h4>
            <tr>
                <th class="col-xs-2">ФИО</th>
                <th class="col-xs-1">Телефон</th>
                <th class="col-xs-2">Почта</th>
                <th class="col-xs-2">О клиенте</th>
                <th class="col-xs-1">Соц. сети</th>
                <th class="col-xs-1">Ред.</th>
                <th class="col-xs-1">Удалить</th>
            </tr>
            {% if clients %}
                {% for client in clients %}
                    <tr>
                        <td class="col-xs-2"><a href="#">{{ client.get_fio }}</a></td>
                        <td class="col-xs-1">{{ client.phone }}</td>
                        <td class="col-xs-2">{{ client.email }}</td>
                        <td class="col-xs-3">{{ client.description }}</td>
                        <td class="col-xs-2">
                                {% if client.fb_id %}
                                            <a href="{{ client.fb_id }}" target="_blank" class="btn btn-social-icon btn-xs btn-facebook">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                {% endif %}
                                {% if client.vk_id  %}
                                            <a href="{{ client.vk_id }}" target="_blank" class="btn btn-social-icon btn-xs btn-vk">
                                                <span class="fa fa-vk"></span>
                                            </a>
                                {% endif %}
                                {% if client.insta_id %}
                                            <a href="{{ client.insta_id }}" target="_blank" class="btn btn-social-icon btn-xs btn-instagram">
                                                <span class="fa fa-instagram"></span>
                                            </a>
                                {% endif %}
                        </td>
                        <td class="col-xs-1"><a href="{% url 'edit_client' client.id %}"><img width="20px" height="20px" src="{% static '/icon/edit.png' %}"></a></td>
                        <td class="col-xs-1"><a href="{% url 'del_client' client.id %}"><img width="20px" height="20px" src="{% static '/icon/del.png' %}"></a></td>

                    </tr>
                {% endfor%}
            {% endif %}
            <tr><td colspan="7"><a href="{% url 'client' %}">Добавить клиента</a></td></tr>
        </table>

            <ul class="pagination pagination-sm">
                    {% if products.has_previous %}
                        <li><a href="?page={{ clients.previous_page_number }}">{{ clients.previous_page_number }}</a></li>
                    {% endif %}
                    <li class="active">
                        {{ clients.number }}
                    </li>
                    {% if products.has_next %}
                        <li><a href="?page={{ clients.next_page_number }}">{{ clients.next_page_number }}</a></li>
                    {% endif %}
            </ul>

    </div>
{% endblock %}