{% extends 'main.html' %}


{% block title %}
        Главная
{% endblock %}


{% block content %}
    {% load staticfiles %}


<div class="col-md-10">
    <div id="scroll" data-target="#myScrollspy" data-offset="1">
        <form method="post" action="#">
            {% csrf_token %}
            <div class="panel-group">
                {% if list_event %}
                   <h4 class="lead">Список мероприятий</h4>
                    {% for list in list_event %}
                    <div class="panel panel-default">
                        <div class="panel panel-body">
                            <table id="show_info" class="table-striped table">

                                <tr>
                                    <th class="col-xs-2">Название</th>
                                    <th class="col-xs-1">Афиша</th>
                                    <th class="col-xs-1">Дата</th>
                                </tr>
                                <tr>
                                    <td class="col-xs-2"><a href="{% url 'reg_client' list.event.pk %}">{{ list.event.events_show_name }}</a></td>
                                    <td class="col-xs-1"><img src="{{ list.event.events_show_name.shows_image }}"></td>
                                    <td class="col-xs-1">{{ list.event.events_date_time }}</td>
                                </tr>

                            </table>
                           <table id="client_list" class="table-striped table">
                                   <tr>
                                       <th class="col-xs-2">Клиент</th>
                                       <th class="col-xs-1">Статус</th>
                                       <th class="col-xs-1">баланс</th>
                                   </tr>
                               {% for place in list.places %}
                                   <tr>
                                       <td class="col-xs-4">{{ place.client.get_fio_phone }}</td>
                                       <td class="col-xs-2">{{ place.place_status }}</td>
                                       <td class="col-xs-1">{{ place.place_price }}</td>
                                   </tr>
                               {% endfor %}
                           </table>
                            <tr>
                                <td class="col-xs-4"><a href="#">Записать человека</a></td>
                            </tr>
                       </div>

                    </div>
                 {% endfor %}
                {% endif %}
            </div>

        </form>
    </div>
</div>
{% endblock %}